/* VARIÁVEIS DE COR */
:root{ 
--color-text-base: #6A6180;
}

body{
background: var(--color-background);
display: flex;
align-items: center;
justify-content: center;
}

body,input,button,textarea{
font: 500 1.6rem Poppins;
color: var(--color-text-base);
}

#container{
/* BOX MODEL */
padding: 50px;
margin: 60px;
width: 400px;
height: 300px;
}

